/* 
    Document   : core
    Created on : Aug 22, 2013, 9:48:43 AM
    Author     : designstudio_2
    Description:
        Purpose of the stylesheet follows.
*/

@import url('reset.css');



/*STYLING FOR MOBILE*/


/*Styling for the wrapper that sits over the body of the page*/
#wrapper{
    font: 1em sans-serif;
    max-width: 30em;
    margin: 0 auto;
    line-height: 1.25em;
    background-color: #Fff;

    
  
}


/*Styling for Headings and Header*/
h1,h2,h3{
    background-color: #999;
    padding: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.mainheader{
    margin: 1em 0;
}

img.logo{
    width: 14em;
    height: 18em;
    float: none;
    margin-left: 4em;
}


.topnav{
    margin-bottom: 6em;
    height: 16em;
}

.topnav ul{
    margin: 0px;
    padding: 0px;
}


.topnav li{
    width: 100%;
    text-align: center;
    margin: 0.25em 0;
    list-style-type: none;
    float: left;
}

.topnav li li{
    float: none;
    width: 100%;
    margin: 0.25em 0;
}



.topnav li a{
    display: block;
    background-color: #F03;
    color: #FFF;
    text-decoration: none;
    padding: 0.75em 0;
    outline: solid 1px #000;
}

.topnav li li a{
    background-color: #df8505;
}

.borderradius .topnav li a{
    -moz-border-radius: 0.20em;
    -webkit-border-radius: 0.20em;
    -o-border-radius: 0.20em;
    -ms-border-radius: 0.20em;
    border-radius: 0.20em;
    outline: none;
}



.topnav a:hover{
    background: #666;
    text-decoration: underline;
    font-weight: bold;
}


.slideshow{
    width: 24em;
    height: 18em;
    margin-left: 16em;
    display: none;   
}

div.slideshow p img{
    width: 22em;
    height: 17em;
}


/*Styling for content of page*/
.maincontent{
    padding: 1em 0 1em 0;
    text-align: justify;
    margin: 0 0 5em 0;
}

/*Styling for sections*/
.topsection,.bottomsection{
    background-color: #FFF;
    display: block;
    padding: 1em;

}

.sectionheader, .sectionfoot{
    margin: 1em 0 1em 0;
}




/*Styling for Footer*/

.mainfooter{
    display: block;
    text-align: center;
    clear: both;
    background-color: #999;
    padding: 1em 0;
    color: #FFF;
}

.borderradius .mainfooter{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -o-border-radius: 1em;
    -ms-border-radius: 1em;
    border-radius: 1em;
    outline: none;
}

.mainfooter a{
    color: #FFF;
}

.mainfooter p{
    display: inline-block;
    margin: 1em;
    font-size: 1.25em;
}

img.foot_logo{
    width: 3em;
    height: 3em;
}



/*STYLING FOR TABLETS*/
@media only screen and (min-width: 31em){
    
    
/*Styling for the wrapper that sits over the body of the page*/
#wrapper{
    max-width: 47em;
    padding: 0 1em;
}

/*Styling for Headings and Header*/


.topnav{
    height: 9.5em;
    margin-bottom: 7em;
}


.topnav li{
    width: 45%;
    float: left;
    margin: 0.25em 2.5%;
}

.topnav li#lastnav{
   
   width: 45%;
   margin: 0.25em 25%;
   padding-top: 0.25em;
}



}




/*STYLING FOR DESKTOP*/
@media only screen and (min-width: 48em){
    
    
/*Styling for the wrapper that sits over the body of the page*/
#wrapper{
    max-width: 58em;
    padding: 1em 0;
}

/*Styling for Headings and Header*/
img.logo{
    float: left;
    margin-left: 0;
}


.topnav{
    height: 3em;
}



.topnav li{
    width: 15%;
}

.topnav li#lastnav{
    width: 15%;
    margin: 0 2.5%;
}

.slideshow{
    display: block;
 
}



/*Styling for content of page*/
.maincontent{
    display: table;
    width: 100%;
    float: left;
}

.topsection,.bottomsection{
    width: 30%;
    display: table-cell;
    padding: 1em 2.5%;
    outline: solid 3px #666;
}

.bottomsection{
    width: 60%;
}



 
}








